<?xml version="1.0"?>

<!--
/**
 * @package Scandi\Gtm
 * @author Oleksii Tsebinoga <aleksejt@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="gtmAddToCart" type="\Scandi\Gtm\Plugin\AddToCartPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Controller\Sidebar\RemoveItem">
        <plugin name="gtmRemoveItem" type="\Scandi\Gtm\Plugin\RemoveFromCartPlugin" sortOrder="1"/>
    </type>
</config>
