<?xml version="1.0"?>

<!--
/**
 * @package Scandi\Gtm
 * @author Oleksii Tsebinoga <aleksejt@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="scandi_gtm" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Google Tag Manager</label>
            <tab>scandiweb</tab>
            <resource>Scandi_Gtm::gtm_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="container_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Container Id</label>
                    <comment>Format is GTM-123456 or GTM-1234567</comment>
                </field>
                <field id="store_in_head" translate="label" type="select" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Store script in the head</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Will put script part of GTM into body, if No is chosen</comment>
                </field>
            </group>
            <group id="developer" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Advanced configuration</label>
                <field id="category_wrapper" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Category selector</label>
                    <comment>jQuery Selector of the object that wraps products on the category page</comment>
                </field>
                <field id="checkout_steps" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Checkout steps</label>
                    <comment>
                        Please set checkout steps in the same order as checkout.
                        Seperate them by ',' and prepend with '#'.
                        Leave blank, if one step checkout is used
                    </comment>
                </field>
                <field id="checkout_options_wrappers" translate="label" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Checkout wrappers</label>
                    <comment>
                        jQuery Selector of the element that wraps options to be tracked in all checkout steps.
                        Please seperate selectors by ','. Note that order is important and should be the same as
                        checkout steps in the field above
                    </comment>
                </field>
                <field id="pagesize_limit" translate="label" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Pagesize Limit for impressions</label>
                    <comment>
                        Enter number of products maximum user can see on the category page.
                        Leave 0 for default
                    </comment>
                </field>
                <field id="brand" translate="label" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Brand to be pushed with all products</label>
                </field>
                <field id="color" translate="label" type="text" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Color variable name in dataLayer</label>
                    <comment>
                        Will be disabled if empty
                    </comment>
                </field>
                <field id="size" translate="label" type="text" sortOrder="7" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Size variable name in dataLayer</label>
                    <comment>
                        Will be disabled if empty
                    </comment>
                </field>
                <field id="childSku" translate="label" type="text" sortOrder="8" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Child's sku variable name in dataLayer</label>
                    <comment>
                        Will be child_sku if empty
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
